* {
  box-sizing: border-box;
}

html {
  font-family: "Orbitron", sans-serif;

  --color-gray-50: rgb(230, 243, 241);
  --color-gray-100: rgb(195, 207, 204);
  --color-gray-300: rgb(86, 99, 99);
  --color-gray-400: rgb(60, 69, 70);
  --color-gray-500: rgb(31, 37, 37);
  --color-gray-600: rgb(26, 31, 32);
  --color-gray-700: rgb(22, 31, 30);

  --color-primary-50: rgb(253, 253, 200);
  --color-primary-100: rgb(183, 253, 253);
  --color-primary-200: rgb(143, 253, 253);
  --color-primary-400: rgb(41, 253, 253);
  --color-primary-500: rgb(14, 253, 253);
  --color-primary-700: rgb(14, 237, 253);
  --color-primary-200-contrast: #fd8f8f;
  --color-primary-500-contrast: rgb(14, 13, 13);

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: #fd1e0e;

  --color-primary-500-bg: rgb(34, 31, 31);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);
  margin: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-6);
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
  border: 1px solid var(--color-primary-500);
  border-radius: var(--border-radius-small);
}

.btn:hover, .btn:active {
background-color: var(--color-primary-700);
border-color: var(--color-primary-700);
}